################
#
# CUSTOMIZE THESE VALUES
#
################

SECRET_KEY_BASE=very_long_alpha_numeric
OTP_SECRET=very_long_alpha_numeric
VAPID_PRIVATE_KEY=very_long_alpha_numeric
VAPID_PUBLIC_KEY=very_long_alpha_numeric

LOCAL_DOMAIN=your_website
TZ=America/Halifax
SINGLE_USER_MODE=true

################
#
# LEAVE THESE ALONE
# UNLESS YOU HAVE A BETTER WAY THEN PLEASE MAKE A PULL REQUEST
#
################

PUID=1000
PGID=1000

REDIS_HOST=redis
REDIS_PORT=6379

DB_HOST=database
DB_USER=mastodon
DB_NAME=mastodon
DB_PASS=mastodon
DB_PORT=5432

ES_ENABLED=false

SMTP_SERVER=mail
SMTP_PORT=25
DISABLE_IPV6=1

S3_ENABLED=false