################
#
# CUSTOMIZE THESE VALUES
#
################

EMAIL=you_email
TZ=America/Halifax
URL=your_url

################
#
# LEAVE THESE ALONE
# UNLESS YOU HAVE A BETTER WAY THEN PLEASE MAKE A PULL REQUEST
#
################

PUID=1000
PGID=1000

VALIDATION=http
